* {
font-family: "Open Sans";
box-sizing: border-box;
}
.container {
width: 1140px;
margin: 0 auto;
}

html, body {
height: 100%;    
}

.header-color {
height: 90px;
background-color: #0073A1;
padding-bottom: 20px;
}

h1 {
color: #555555;  
border-bottom: 1px solid #000;
padding: 20px 40px 10px 40px;
font-size:20px;
}

h2 {
color: #003471;
font-size: 20px;
padding: 20px 40px 10px 40px;   
}

.date {
color: #0073A1;

font-size: 18px;
}

p {
color: #555555;
padding: 20px 40px 10px 40px; 
font-size: 20px; 
}

h3 {
color: #000;
padding: 20px 40px 10px 40px; 
font-size: 20px; 
}

.first {
box-shadow: 0 4px 4px grey;
}

.second {
box-shadow: 0 4px 4px grey;
}

.third {
box-shadow: 0 4px 4px grey;
}

button {
width: 230px;
height: 60px;
background: #0073A1;
border-radius: 40px;
font-size: 20px;
color: #fff; 
margin: 20px 40px 10px 40px;    
}

